/Tarea1/nbproject/private/
/Tarea1/build/
/Tarea1/dist/
/OperacionesConFracciones/nbproject/private/
/OperacionesConFracciones/build/
/1st Parcial/EcuationSolverFromString/nbproject/private/
/1st Parcial/EcuationSolverFromString/build/
/NewtonRaphson/nbproject/private/
/NewtonRaphson/build/
/1st Parcial/buttons/nbproject/private/
/1st Parcial/buttons/build/
/ClientServerCommunication/nbproject/private/
/Sockets/nbproject/private/
/sockets/nbproject/private/
/socket/nbproject/private/
/Sockets/build/
/hilos/nbproject/private/
/hilos/build/
/BaseDeDatos/nbproject/private/
/BaseDeDatos/build/
