/Tarea1/nbproject/private/
/Tarea1/build/
/Tarea1/dist/
/OperacionesConFracciones/nbproject/private/
/OperacionesConFracciones/build/
/1st Parcial/EcuationSolverFromString/nbproject/private/
/1st Parcial/EcuationSolverFromString/build/
/NewtonRaphson/nbproject/private/
/NewtonRaphson/build/
